<div class="card bg-dark box-shadow" style="width: 10rem; " >
	<img class="card-img-top" src=@Model.PosterUrl alt="Card image cap">
  	<div class="card-body">
		<h5 class=" text-light text-sm-center" style="font-size:medium">@Model.Title</h5>
  	</div>
</div>
